.advantages_grid {
  @apply gap-6;
  display: grid;
}

.advantages_grid_item {
  height: max-content;
}

.advantage_card {
  @apply px-10 py-16;
  @apply h-full w-full;
  @apply flex flex-col gap-8;

  background: linear-gradient(
    132.57deg,
    rgba(11, 11, 11, 0.1) -18.83%,
    rgba(166, 128, 255, 0.1) 117.47%
  );
  border: 1px solid #4f4f4f;
  border-radius: 34px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .advantages_grid {
    width: 100%;
    grid-template-columns: repeat(1, 100%);
  }
}

@media (min-width: 1024px) {
  .advantages_grid {
    width: var(--advantages-grid-width);
    grid-template-columns: repeat(2, var(--advantages-grid-item-size));
  }

  .advantages_grid .advantages_grid_item:nth-child(1) {
    height: var(--advantages-grid-item-size);
    width: var(--advantages-grid-item-size);
  }
  .advantages_grid .advantages_grid_item:nth-child(2) {
    height: var(--advantages-grid-item-size);
    width: var(--advantages-grid-item-size);
  }
  .advantages_grid .advantages_grid_item:nth-child(3) {
    height: var(--advantages-grid-item-size);
    grid-column: span 2;
  }
}
