.join_community_card {
  background: linear-gradient(
    111.75deg,
    rgba(11, 11, 11, 0.1) 45.14%,
    rgba(166, 128, 255, 0.1) 83.61%
  );
  border: 1px solid #4f4f4f;
  border-radius: 34.25px;
}
