.hedge_section::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100vw;
  height: 80vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -42.5%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    #8b5cf6 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
