.manage_section::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100vw;
  height: 65vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(139, 92, 246, 0.3) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
